// colors
$white: #fff;
$orange: rgba(241, 169, 92, 255);
$black:#000;
$border-color:#f7f9fa;
$text-color:rgba(150, 150, 150, 255);
$dark-color:#212035;
$background-color:rgba(245, 245, 245, 255);
$shadow-color:rgba(0, 0, 0, 0.19);