header {
  width: 100%;
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.29);
  background: #f7f9fa;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;

  ul {
    padding-top: 25px;
  }

  ul li {
    list-style: none;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    cursor: pointer;

  }

  @media only screen and (max-width: 768px) {
    height: 60px;

    ul {
      padding-top: 15px;
    }

    img {
      width: 90px;
      height: 60px;
    }
  }
}